@{
    ViewBag.Title = "精品课程列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SubHead{
    <script src="@Url.Content("~/Scripts/views/qualitycourse/list.js")" type="text/javascript"></script>
}
@*搜索*@
<div class="search_01">
    <div class="search_02">
        @Html.DropDownList("ddljibie", Model.ddljibie as List<SelectListItem>, new { @class = "search_04" })
        @Html.DropDownList("ddlniandu", Model.ddlniandu as List<SelectListItem>, new { @class = "search_04" })
        <input id="searchname" type="text" value="@ViewBag.searchname" size="23" class="search_04" />
        <input type="image" id="btnsearch" src="/Content/image/index_ss_08.gif" class="search_04" />
        <hr style="margin-bottom: 5px; margin-top: 5px;" />
        @*导航*@
        <div id="navigation" class="search_05">
        </div>
        @*资源大类 学科 专业*@
        <div id="subject" class="search_06">
        </div>
    </div>
</div>
@*隐藏域*@
<input id="hdId" type="hidden" value="@ViewBag.id"/>
<input id="hdType" type="hidden" value="@ViewBag.type"/>
<input id="hdCount" type="hidden" value="@ViewBag.count"/>
<input id="hdsearchname" type="hidden" value="@ViewBag.searchname"/>
<input id="hdjibie" type="hidden" value="@ViewBag.jibie"/>
<input id="hdniandu" type="hidden" value="@ViewBag.niandu"/>
@using (Html.BeginForm("Preview", "Resource"))
{ 
    <input type="hidden" id="hdData" name="hdData" value="" />
}
<div id="Content" class="zykcontent">
    <div class="zyk_content_01">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td id="right" align="left">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                            <div id="resourcelist">
                            </div>
                        </tr>
                        <tr>
                            <td align="center">
                                <div id="divBar">
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
