@{
    ViewBag.Title = "编辑管理员信息";
    Layout = "~/Views/Shared/_Back.cshtml";
}
@section SubHead{
    <script src="@Url.Content("~/Scripts/views/manage/editmanager.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugin/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
}
<h2>
    管理员信息</h2>
@model Sync.Models.UserInfo
<input type="hidden" name="hdSchoolId" id="hdSchoolId" value="@Model.SchoolId" />
<input type="hidden" name="hdId" id="hdId" value="@Model.Id" />
<table border="0" cellpadding="0" cellspacing="10" align="center">
    <tr>
        <td align="right" width="30%">
            用户名：
        </td>
        <td width="15%">
            @Model.LoginName
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td align="right">
            密码：
        </td>
        <td>
            <input type="button" name="btnInitialize" id="btnInitialize" value="初始化密码" />
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td align="right">
            真实姓名：
        </td>
        <td>
            <input type="text" name="txtName" id="txtName" value="@Model.Name" />
        </td>
        <td>
            <label id="lb_name" class="lb" style="color: Red">
            </label>
        </td>
    </tr>
    <tr>
        <td align="right">
            性别：
        </td>
        <td valign="middle">
            <input type="radio" name="rSex" id="rM" value="1" checked="checked" /><label for="rM">男</label>
            <input type="radio" name="rSex" id="rWM" value="0" /><label for="rWM">女</label>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td align="right">
            生日：
        </td>
        <td>
            <input onClick="WdatePicker()" type="text" name="txtBirthday" id="txtBirthday" value="@(Model.Birthday == null ? "" : ((DateTime)Model.Birthday).ToString("yyyy-MM-dd"))" />
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td align="right">
            学校：
        </td>
        <td>
            @Html.DropDownList("ddlSchool", ViewBag.School as List<SelectListItem>)
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td align="right">
            学院：
        </td>
        <td>
            @Html.DropDownList("ddlFaculty", ViewBag.Faculty as List<SelectListItem>)
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td align="right">
            系别：
        </td>
        <td>
            @Html.DropDownList("ddlDepartment", ViewBag.Department as List<SelectListItem>)
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td align="right">
            角色类型：
        </td>
        <td align="left">
            @Html.DropDownList("ddlRole", ViewBag.Role as List<SelectListItem>)
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td align="right" valign="middle" style="width: 30%; height: 20px;">
            职业类别：
        </td>
        <td align="left" valign="middle" style="height: 20px">
            @Html.DropDownList("ddlProfession", ViewBag.Profession as List<SelectListItem>)
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td align="right" valign="middle" style="width: 30%; height: 20px;">
            职称类别：
        </td>
        <td align="left" valign="middle" style="height: 20px">
            @Html.DropDownList("ddlJob", ViewBag.Job as List<SelectListItem>)
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td align="right" valign="middle" style="width: 30%; height: 20px;">
            职务类别：
        </td>
        <td align="left" valign="middle" style="height: 20px">
            @Html.DropDownList("ddlPost", ViewBag.Post as List<SelectListItem>)
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td align="right">
            电话：
        </td>
        <td>
            <input type="text" name="txtPhone" id="txtPhone" value="@Model.Phone" />
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td align="right">
            邮箱：
        </td>
        <td>
            <input type="text" name="txtEmail" id="txtEmail" value="@Model.Email" />
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td align="right">
            用户类型:
        </td>
        <td>
            @ViewBag.UserType
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td align="right">
            创建时间：
        </td>
        <td>@Model.CreateTime.ToString()
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <input type="button" name="btnInfoSure" id="btnInfoSure" value="修改" />
        </td>
        <td>
            <input type="button" name="btnEsc" value="返回" id="btnEsc" />
        </td>
    </tr>
</table>
