@{
    ViewBag.Title = "批量修改";
    Layout = "~/Views/Shared/_Back.cshtml";
}
@section SubHead{
    <script src="@Url.Content("~/Scripts/views/manage/managermassedit.js")" type="text/javascript"></script>
    <style type="text/css">
        #listUser
        {
            bottom: 0;
            clip: rect(0px, 0px, 0px, 0px);
            left: 0;
            margin: 0;
            padding: 0;
            right: 0;
            top: 0;
            width: 400px;
        }
        #listUser li
        {
            display: block;
            float: left;
            font-size: 12px;
            height: 24px;
            line-height: 24px;
            list-style-type: none;
            padding-left: 0;
            text-decoration: none;
            width: 180px;
        }
    </style>
}
<input id="hdGuidList" type="hidden" value="@ViewBag.guidlist"/>
<input type="hidden" name="hdSchoolId" id="hdSchoolId" value="@ViewBag.SchoolId" />
<h2>
    批量修改</h2>
<table border="0" cellpadding="0" cellspacing="20" width="100%" align="center">
    <tr>
        <td width="30%" align="right" style="vertical-align: top">
            选中帐号：
        </td>
        <td>
            <ul id="listUser">
            </ul>
        </td>
    </tr>
    <tr>
        <td align="right">
            登录密码：
        </td>
        <td>
            <input type="button" name="btnInitialize" id="btnInitialize" value="初始化密码" />
        </td>
    </tr>
    <tr>
        <td align="right">
            所属学校：
        </td>
        <td>
            @Html.DropDownList("ddlSchool", ViewBag.School as List<SelectListItem>)
        </td>
    </tr>
    <tr>
        <td align="right">
            所属学院：
        </td>
        <td>
            @Html.DropDownList("ddlFaculty", ViewBag.Faculty as List<SelectListItem>)
        </td>
    </tr>
    <tr>
        <td align="right">
            所属系别：
        </td>
        <td>
            @Html.DropDownList("ddlDepartment", ViewBag.Department as List<SelectListItem>)
        </td>
    </tr>
    <tr>
        <td align="right">
            角色类型：
        </td>
        <td>
            @Html.DropDownList("ddlRole", ViewBag.Role as List<SelectListItem>)
        </td>
    </tr>
  @*  <tr>
        <td align="right">
            职业类别：
        </td>
        <td>
            @Html.DropDownList("ddlProfession", ViewBag.Profession as List<SelectListItem>)
        </td>
    </tr>
    <tr>
        <td align="right">
            职称类别：
        </td>
        <td>
            @Html.DropDownList("ddlJob", ViewBag.Job as List<SelectListItem>)
        </td>
    </tr>*@
    <tr>
        <td align="right">
            职务类别：
        </td>
        <td>
            @Html.DropDownList("ddlPost", ViewBag.Post as List<SelectListItem>)
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <input type="button" name="btnSure" id="btnSure" value="确定" />&nbsp;&nbsp;&nbsp;&nbsp;<input
                type="button" name="btnEsc" id="btnEsc" value="返回" />
        </td>
    </tr>
</table>
